Repository SpecFlowOSS/SpecFlow, pull requests merged in 2018-04, with the labels that each got.

#1046 Add support for commas and currency symbols in table columns
  TechTalk.SpecFlow/Assist/ValueRetrievers/ByteValueRetriever.cs
  TechTalk.SpecFlow/Assist/ValueRetrievers/DateTimeOffsetValueRetriever.cs
  TechTalk.SpecFlow/Assist/ValueRetrievers/DateTimeValueRetriever.cs
  TechTalk.SpecFlow/Assist/ValueRetrievers/DecimalValueRetriever.cs
  TechTalk.SpecFlow/Assist/ValueRetrievers/DoubleValueRetriever.cs
  TechTalk.SpecFlow/Assist/ValueRetrievers/FloatValueRetriever.cs
  TechTalk.SpecFlow/Assist/ValueRetrievers/IntValueRetriever.cs
  TechTalk.SpecFlow/Assist/ValueRetrievers/LongValueRetriever.cs
  TechTalk.SpecFlow/Assist/ValueRetrievers/SByteValueRetriever.cs
  TechTalk.SpecFlow/Assist/ValueRetrievers/ShortValueRetriever.cs
  TechTalk.SpecFlow/Assist/ValueRetrievers/TimeSpanValueRetriever.cs
  TechTalk.SpecFlow/Assist/ValueRetrievers/UIntValueRetriever.cs
  TechTalk.SpecFlow/Assist/ValueRetrievers/ULongValueRetriever.cs
  TechTalk.SpecFlow/Assist/ValueRetrievers/UShortValueRetriever.cs
  Tests/TechTalk.SpecFlow.RuntimeTests/AssistTests/CreateInstanceHelperMethodTests.cs
  Tests/TechTalk.SpecFlow.RuntimeTests/AssistTests/ExampleEntities/Person.cs
  Tests/TechTalk.SpecFlow.RuntimeTests/AssistTests/TableHelperExtensionMethods/CreateSetHelperMethodTests.cs
  Tests/TechTalk.SpecFlow.RuntimeTests/AssistTests/ValueComparerTests/DateTimeValueComparerTests.cs
  Tests/TechTalk.SpecFlow.RuntimeTests/AssistTests/ValueComparerTests/DecimalValueComparerTests.cs
  Tests/TechTalk.SpecFlow.RuntimeTests/AssistTests/ValueComparerTests/DoubleValueComparerTests.cs
  Tests/TechTalk.SpecFlow.RuntimeTests/AssistTests/ValueComparerTests/FloatValueComparerTests.cs
  Tests/TechTalk.SpecFlow.RuntimeTests/AssistTests/ValueRetrieverTests/ByteValueRetrieverTests.cs
  Tests/TechTalk.SpecFlow.RuntimeTests/AssistTests/ValueRetrieverTests/DateTimeOffsetValueRetrieverTests.cs
  Tests/TechTalk.SpecFlow.RuntimeTests/AssistTests/ValueRetrieverTests/DateTimeValueRetrieverTests.cs
  Tests/TechTalk.SpecFlow.RuntimeTests/AssistTests/ValueRetrieverTests/DecimalValueRetreiverTests.cs
  Tests/TechTalk.SpecFlow.RuntimeTests/AssistTests/ValueRetrieverTests/DoubleValueRetreiverTests.cs
  Tests/TechTalk.SpecFlow.RuntimeTests/AssistTests/ValueRetrieverTests/FloatValueRetrieverTests.cs
  Tests/TechTalk.SpecFlow.RuntimeTests/AssistTests/ValueRetrieverTests/IntValueRetrieverTests.cs
  Tests/TechTalk.SpecFlow.RuntimeTests/AssistTests/ValueRetrieverTests/LongValueRetrieverTests.cs
  Tests/TechTalk.SpecFlow.RuntimeTests/AssistTests/ValueRetrieverTests/NullableDateTimeOffsetValueRetriever.cs
  Tests/TechTalk.SpecFlow.RuntimeTests/AssistTests/ValueRetrieverTests/NullableDateTimeValueRetrieverTests.cs
  Tests/TechTalk.SpecFlow.RuntimeTests/AssistTests/ValueRetrieverTests/NullableDecimalValueRetrieverTests.cs
  Tests/TechTalk.SpecFlow.RuntimeTests/AssistTests/ValueRetrieverTests/NullableDoubleValueRetrieverTests.cs
  Tests/TechTalk.SpecFlow.RuntimeTests/AssistTests/ValueRetrieverTests/NullableFloatValueRetrieverTests.cs
  Tests/TechTalk.SpecFlow.RuntimeTests/AssistTests/ValueRetrieverTests/SByteValueRetrieverTests.cs
  Tests/TechTalk.SpecFlow.RuntimeTests/AssistTests/ValueRetrieverTests/ShortValueRetrieverTests.cs
  Tests/TechTalk.SpecFlow.RuntimeTests/AssistTests/ValueRetrieverTests/TimeSpanValueRetrieverTests.cs
  Tests/TechTalk.SpecFlow.RuntimeTests/AssistTests/ValueRetrieverTests/UIntValueRetrieverTests.cs
  Tests/TechTalk.SpecFlow.RuntimeTests/AssistTests/ValueRetrieverTests/ULongValueRetrieverTests.cs
  Tests/TechTalk.SpecFlow.RuntimeTests/AssistTests/ValueRetrieverTests/UShortValueRetrieverTests.cs
Labels: assist, runtime

#1078 Expose ScenarioInfo.Description parameter to get from context
  TechTalk.SpecFlow.Generator/UnitTestFeatureGenerator.cs
  TechTalk.SpecFlow/ScenarioInfo.cs
  Tests/TechTalk.SpecFlow.RuntimeTests/Infrastructure/TestExecutionEngineTests.cs
  Tests/TechTalk.SpecFlow.RuntimeTests/Infrastructure/TestThreadContextTests.cs
  Tests/TechTalk.SpecFlow.RuntimeTests/ScenarioContext_BindingInstancesTest.cs
  Tests/TechTalk.SpecFlow.RuntimeTests/ScenarioStepContextTests.cs
  Tests/TechTalk.SpecFlow.RuntimeTests/StepExecutionTestsBase.cs
  Tests/TechTalk.SpecFlow.RuntimeTests/StronglyTypedContextAcessorTests.cs
  Tests/TechTalk.SpecFlow.RuntimeTests/TestObjectFactories.cs
  Tests/TechTalk.SpecFlow.RuntimeTests/TestRunnerManagerRunnerCreationTests.cs
  Tests/TechTalk.SpecFlow.Specs/Features/Description.feature
  Tests/TechTalk.SpecFlow.Specs/Features/Parser/DescriptionParser.feature
  Tests/TechTalk.SpecFlow.Specs/TechTalk.SpecFlow.Specs.csproj
  changelog.txt
Labels: generator

#1132 Remove Reports
  TechTalk.SpecFlow.Reporting/AssemblyServices.cs
  TechTalk.SpecFlow.Reporting/BindingCollector.cs
  TechTalk.SpecFlow.Reporting/Common/Common.xslt
  TechTalk.SpecFlow.Reporting/Common/GherkinElements.xslt
  TechTalk.SpecFlow.Reporting/MsTestExecutionReport/MsTestExecutedParameters.cs
  TechTalk.SpecFlow.Reporting/MsTestExecutionReport/MsTestExecutionReportGenerator.cs
  TechTalk.SpecFlow.Reporting/MsTestExecutionReport/MsTestToNUnit.xslt
  TechTalk.SpecFlow.Reporting/NUnitExecutionReport/NUnitBasedExecutionReportGenerator.cs
  TechTalk.SpecFlow.Reporting/NUnitExecutionReport/NUnitExecutionReport.xslt
  TechTalk.SpecFlow.Reporting/NUnitExecutionReport/NUnitExecutionReportGenerator.cs
  TechTalk.SpecFlow.Reporting/NUnitExecutionReport/NUnitExecutionReportParameters.cs
  TechTalk.SpecFlow.Reporting/NUnitExecutionReport/ReportElements/NUnitExecutionReport.cs
  TechTalk.SpecFlow.Reporting/NUnitExecutionReport/ReportElements/ScenarioOutput.cs
  TechTalk.SpecFlow.Reporting/ParserHelper.cs
  TechTalk.SpecFlow.Reporting/Program.cs
  TechTalk.SpecFlow.Reporting/Properties/AssemblyInfo.cs
  TechTalk.SpecFlow.Reporting/ReflectionHelperExtensions.cs
  TechTalk.SpecFlow.Reporting/ReportParameters.cs
  TechTalk.SpecFlow.Reporting/ResourceXmlReader.cs
  TechTalk.SpecFlow.Reporting/StepDefinitionReport/ReportElements/Binding.cs
  TechTalk.SpecFlow.Reporting/StepDefinitionReport/ReportElements/DocStringArgument.cs
  TechTalk.SpecFlow.Reporting/StepDefinitionReport/ReportElements/FeatureRef.cs
  TechTalk.SpecFlow.Reporting/StepDefinitionReport/ReportElements/Instance.cs
  TechTalk.SpecFlow.Reporting/StepDefinitionReport/ReportElements/Parameter.cs
  TechTalk.SpecFlow.Reporting/StepDefinitionReport/ReportElements/ReportStep.cs
  TechTalk.SpecFlow.Reporting/StepDefinitionReport/ReportElements/ReportStepArgument.cs
  TechTalk.SpecFlow.Reporting/StepDefinitionReport/ReportElements/ReportTableCell.cs
  TechTalk.SpecFlow.Reporting/StepDefinitionReport/ReportElements/ReportTableRow.cs
  TechTalk.SpecFlow.Reporting/StepDefinitionReport/ReportElements/ScenarioRef.cs
  TechTalk.SpecFlow.Reporting/StepDefinitionReport/ReportElements/StepDefinition.cs
  TechTalk.SpecFlow.Reporting/StepDefinitionReport/ReportElements/StepDefinitionReport.cs
  TechTalk.SpecFlow.Reporting/StepDefinitionReport/ReportElements/TableArgument.cs
  TechTalk.SpecFlow.Reporting/StepDefinitionReport/StepDefinitionReport.xslt
  TechTalk.SpecFlow.Reporting/StepDefinitionReport/StepDefinitionReportGenerator.cs
  TechTalk.SpecFlow.Reporting/StepDefinitionReport/StepDefinitionReportParameters.cs
  TechTalk.SpecFlow.Reporting/TechTalk.SpecFlow.Reporting.csproj
  TechTalk.SpecFlow.Reporting/XmlResourceResolver.cs
  TechTalk.SpecFlow.Reporting/XsltHelper.cs
  TechTalk.SpecFlow.Tools/Program.cs
  TechTalk.SpecFlow.Tools/TechTalk.SpecFlow.Tools.csproj
  TechTalk.SpecFlow.sln
  Tests/TechTalk.SpecFlow.GeneratorTests/TechTalk.SpecFlow.GeneratorTests.csproj
  Tests/TechTalk.SpecFlow.RuntimeTests/TechTalk.SpecFlow.RuntimeTests.csproj
  Tests/TechTalk.SpecFlow.Specs/Features/Reports/CustomXsltTemplate.feature
  Tests/TechTalk.SpecFlow.Specs/Features/Reports/ExecutionReport.feature
  Tests/TechTalk.SpecFlow.Specs/Features/Reports/StepDefinitionReport.feature
  Tests/TechTalk.SpecFlow.Specs/StepDefinitions/ReportingSteps.cs
  Tests/TechTalk.SpecFlow.Specs/TechTalk.SpecFlow.Specs.csproj
Labels: .NET Core Support
